@model IEnumerable<PasswordManagerCA.Core.Commands.UserAccountsCommand>

@{
    ViewBag.Title = "Accounts";
}


<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Accounts <span class="badge">@Model.Count()</span></a></h3>
    </div>
    <div class="panel-body">
        <table class="table">

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountWebsiteLink)
                    </td>
                    <td>
                        <button class="btn btn-success btn-xs edit" data-id="@item.Id" data-target="#modal" data-toggle="modal">Edit</button>
                        <button class="btn btn-info btn-xs details" data-id="@item.Id" data-target="#modal" data-toggle="modal">Details</button>
                        <button class="btn btn-danger btn-xs delete" data-id="@item.Id" data-target="#modal" data-toggle="modal">Delete</button>
                    </td>
                </tr>
            }

        </table>
        @Html.ActionLink("Create New", "Create", "Manage", new { @class = "btn btn-primary" })
    </div>
</div>

<div id="modal" class="modal fade" role="dialog" />


@section scripts{
    <script>
        $.noConflict();

        jQuery(document).ready(function ($) {
            $(".details").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("Details?id=" + id, function () {
                    $("#modal").modal();
                })
            });
            $(".edit").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("Edit?id=" + id, function () {
                    $("#modal").modal();
                })
            });
            $(".delete").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("Delete?id=" + id, function () {
                    $("#modal").modal();
                })
            });
        })
    </script>
}


