@model PasswordManagerCA.Core.Commands.UserAccountsDetailsCommand

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="container">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Account Details</h4>
                </div>
                <div class="modal-body">
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.AccountsUsername)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AccountsUsername)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.AccountPassword)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AccountPassword)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.AccountWebsiteLink)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AccountWebsiteLink)
                        </dd>

                    </dl>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
