@model PasswordManagerCA.Core.Commands.UserAccountsDetailsCommand

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<body>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Account Details</h4>
            </div>
            <div class="modal-body">

                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.AccountsUsername)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AccountsUsername)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AccountPassword)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AccountPassword)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AccountWebsiteLink)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AccountWebsiteLink)
                    </dd>

                </dl>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>